<div class="hero">

</div>
<div class="container">
  <h1>BADMASHER</h1>
  <h3>About BADMASHER</h3>
  <p>BADMASHER is the only place you need to visit to get the latest new and reviews on the best music.</p>
  <p>At BADMASHER we only have one rule: <em>No bad music</em></p>
  <p>We review full albums, singles and bands in general. We also like a good rant if something is amazing...and also if something annoys us.</p>
  <p>Don't try and contact us. We're too busy listening to awesome music.</p>
  <p>Big love, BM</p>
</div>
