<div class="row post_new">
  <!-- {{postsNew.post}} -->
  <div class="col-md-6">
    <form ng-submit="postsNew.create()">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" ng-model="postsNew.post.title">
      <!-- <label for="image">Image</label>
      <input type="text" id="image" name="image" ng-model="postsNew.post.image"> -->
      <label for="base64" class="inputfile-label">Upload Image</label>
      <input type="file" base64 name="base64" id="base64" ng-model="postsNew.post.base64" class="inputfile">
      <label for="body">Body</label>
      <textarea name="body" rows="8" cols="80"  ng-model="postsNew.post.body"></textarea>

      <button>Create</button>
    </form>
  </div>
</div>
