<div class="show-container">
  <div class="posts_container">
    <h2>{{ postsShow.post.title }}</h2>
    <p>Location: {{ postsShow.post.location }}</p>
    <p>£{{ postsShow.post.price }}/pcm</p>
    <img ng-src="{{ postsShow.post.image_src }}" width="200">

    <p class="post-body">{{ postsShow.post.body }}</p>

    <form action="https://formspree.io/tjallen91@hotmail.co.uk"
      method="POST">
      <h3>Contact the owner</h3>
      <input type="text" placeholder="Subject" name="name">
      <input type="email" placeholder="Your Email Address" name="_replyto">
      <textarea type="text" placeholder="Your Message" name="message" rows="8" ></textarea>
      <input class="send" type="submit" value="Send">
    </form>
    <button ng-click="postsShow.delete()" ng-if="main.isAuthenticated() && main.currentUser.id === postsShow.post.user.id">Delete</button>
    <button ui-sref="postsEdit({id: postsShow.post.id})" ng-if="main.isAuthenticated() && main.currentUser.id === postsShow.post.user.id">Edit</button>
  </div>
</div>
